@charset "UTF-8";

*
{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body
{
    margin-top: 50px;
    padding-top: 20px;
    height: 100vh;
    font-family: "IBM Plex Sans KR", serif;
    font-weight: 400;
    font-style: normal;
}

form
{
    width: 500px;
    margin: 0 auto;
    padding: 60px;
    border: 1px solid #d9d9d9;
}

.logo
{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40pt;
}

.menu
{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
}

.menu_contents_left,
.menu_contents_center,
.menu_contents_right
{
    list-style: none;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

.menu_contents_left li,
.menu_contents_right li
{
    margin: auto 20px auto 20px;
}

.menu a
{
    list-style: none;
    text-decoration: none;
}

#search
{
    height: 40px;
    width: 400px;
    border-radius: 50px;
    color: #d2d2d2;
}

.SignUp #checkId,
.SignUp #findZip,
.SignUp #findZip,
.SignUp #signIn,
.SignUp #reInput
{
    border: none;
    width: 80px;
    height: 25px;
}

.SignUp ul li
{
    text-decoration: none;
    list-style: none;
}

.SignUp ul li input
{
    margin-bottom: 10px;
    border: none;
    border-bottom: solid 1px #d9d9d9;
    color: rgb(148, 148, 148);
    font-weight: bold;
    font-size: 8pt;
}

.SignUp #title
{
    font-size: 20pt;
    margin-left: 90px;
    color: rgb(148, 148, 148);
}

.SignUp #signIn
{
    margin-left: 50px;
    margin-top: 50px;
}

.specification
{
    margin-top: 50px;
    margin-left: 50px;
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    margin-top: 50px;
    padding-top: 20px;
    height: 100vh;
    font-family: "IBM Plex Sans KR", serif;
    font-weight: 400;
    font-style: normal;
}

.logo
{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40pt;
}

.menu
{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
}

.menu_contents_left,
.menu_contents_center,
.menu_contents_right
{
    list-style: none;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

.menu_contents_left li,
.menu_contents_right li
{
    margin: auto 20px auto 20px;
}

.menu a
{
    list-style: none;
    text-decoration: none;
}

#search
{
    height: 40px;
    width: 400px;
    border-radius: 50px;
    color: #d2d2d2;
}

/*회전목마 구간*/

div.slideShow
{
    background-color: white;
    height: 465px;
    /* width: 100%; */
    min-width: 960px;
    /* 최상위 부모니까 absolute를 위해 relative 적용! */
    position: relative;
    /* overflow: hidden; */
}

img
{
    width: 1200px;
    height: 465px;
    border-radius: 10px;
}

div.slideShow_slides
{
    position: absolute;
    /* 부모의 몇%를 차지하는가? */
    width: 100%;    /*부모것 다 차지하겠다. 960px*/
    height: 100%;    /*부모것 다 차지하겠다. 960px*/
}

div.slideShow_slides a
{
    /* absolute해버리면 원래 block이 됨. 다 겹쳐졌는데, 옆배치를 해야하니 display inline block으로. */
    position: absolute;
    /* 부모의 몇%를 차지하는가? */
    width: 100%;    /*부모것 다 차지하겠다. 960px*/
    height: 100%;    /*부모것 다 차지하겠다. 960px*/
    display: inline-block;
    text-align: center;
}

div.slideShow_nav a
{
    position: absolute;
    left: 50%;
    top: 50%;
    /* color: rgba(255, 255, 255, 0.877); */
    color: white;
    font-size: 62px;
    transform: translateY(-50%);
    opacity: 0.5;
}

div.slideShow_nav a.pre
{
    margin-left: -462px;
}

div.slideShow_nav a.next
{
    margin-left: 400px;
}

div.slideShow_indicator
{
    position: absolute;
    /* 부모의 bottom */
    bottom: 20px;
    text-align: center;
    left: 0;
    right: 0;
    text-align: center;
}

div.slideShow_indicator a
{
    display: inline-block;
    color: white;
    padding: 7px;
    font-size: 24px;
}

div.slideShow_indicator a.active
{
    color: rgba(255, 123, 0, 0.9);
}

#testing
{
    height: 500px;
    border: 2px solid black;
}

/* Fixed Icon */
#fixed_icons
{
    background-color: #000000;
    /* width: 1200px; */
    width: 100%;
    height: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    /* display: inline-block;
    text-align: center;
    line-height: 60px;
    width: 50px;
    height: 50px; */
    position: fixed;
    bottom: 0px;
    /*border-radius: 100px;
    right: 90px;
    border: 1px solid #ebebeb; */
}

#backward_button
{
    position: fixed;
    left: 20%;
    transform: translate(-50%, 0);
    bottom: 30px;
}

#forward_button
{
    position: fixed;
    left: 70%;
    transform: translate(-50%, 0);
    bottom: 30px;
}

.menu_contents_center li i
{
    position: relative;
    left: 25px;
}